<div class="container landing col-md-8 offset-md-2" ng-controller="LandingCtrl as landing">
  <h1 class="activeRoom">{{activeRoom}}</h1>
  <table class="table table-striped" >
    <tbody ng-repeat="message in activeRoomMessages">
      <tr class="message row">
        <td>
          <h5>{{message.username}}
            <span class="floatRight">{{message.sentAt}}</span>
          <h5>
          <p>{{message.content}}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <footer>
    <form class="form-group row">
    <div class="inputs col-8">
      <input class="form-control" id="new-message-form" ng-model="landing.newmessage" type="text" placeholder="Write a message...">
      <div ng-click="landing.newMessage()" class="btn-primary btn"> Submit </div>
    </div>
  </form>
</footer>
</div>
