      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a new Chatroom</h4>
        </div>
        <div class="modal-body">
          <form class="form-group row">
          <label for="new-chatroom-form">Enter a room name</label>
          <div class="col-8">
            <input class="form-control" id="new-chatroom-form" type="text">
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="$ctrl.ok()">Create a Room</button>
          <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Close</button>
        </div>
      </div>
